// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary-contrast: #ffffff;
    --ion-color-success-contrast: #ffffff;
    --ion-color-warning-contrast: #ffffff;

}