<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Side Menu -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <img src="../assets/logo_adhivasindo_landscape-putih.png" alt="" style="width: 100px; margin-left: 100px;">
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
            <ion-item
              [routerLink]="page.url"
              routerDirection="root"
              detail="false"
              lines="none"
              routerLinkActive="selected"
              (click)="navigate(page)"
            >
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>PROFILE</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of profile; let i = index">
              <ion-item
                [routerLink]="page.url"
                routerDirection="root"
                detail="false"
                lines="none"
                routerLinkActive="selected"
              >
              <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <!-- <ion-list-header>PROFILE</ion-list-header> -->
          <ion-menu-toggle auto-hide="false" *ngFor="let page of Log; let i = index">
              <ion-item
                [routerLink]="page.url"
                routerDirection="root"
                detail="false"
                lines="none"
                (click)="navigate(page)"
              >
              <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <!-- Main Content -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
