.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    background-color: #d7d7d7;
  
    ion-list {
      width: 90%;
      max-width: 400px;

      ion-button{
        padding: 10px 10px 10px 10px;
      }
    }
 }